body {
    font-family: Arial, sans-serif;
}

#map {
    width: 960px;
    height: 600px;
}

#tooltip {
    position: absolute;
    background-color: white;
    padding: 5px;
    border: 1px solid #ccc;
    display: none;
}

#legend {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}